<div class="alert alert-warning navbar-collapse-question collapse ">
    <h6>FORMULAIRE CATEGORIE</h6>
</div>
<nav aria-label="breadcrumb" class="spacer">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#/VUE_HOME">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="#/VUE_HOME">Formulaire</a></li>
                            <li class="breadcrumb-item"><a href="#/VUE_DISPLAY_CATEGORIES">Catégorie</a></li>
                          </ol>
                        </nav> 
<form name="categorieForm" method="POST" class="spacer"  ng-submit="submit()" ng-controller="categorieFormulaireController" > 
     <div class="input-group spacer"  style="display:none;"> 
          <input type="text"  class="form-control" ng-value="id" ng-model="categorie.id" name="id"> 
     </div>   
     <div class="input-group"> 
          <span class="input-group-addon">Nom de la catégorie</span> 
          <input type="text"  class="form-control" ng-model="categorie.value"> 
     </div>
     <div class="input-group spacer"> 
          <span class="input-group-addon">Niveau du langage</span> 
          <input type="text"  class="form-control" ng-value="level" ng-model="categorie.level" name="level"> 
     </div>        
    <div style="clear:both;"></div>
     <input type="submit" class="btn btn-success pull-right" >
</form>