<form name="experienceForm" id="experienceForm" method="POST" class="spacer"  ng-submit="submit()"  > 
     <div class="input-group" style="display:none;"> 
          <input type="text"  class="form-control" ng-value="id" ng-model="experience.id"> 
     </div>      
     <div class="input-group spacer"> 
          <span class="input-group-addon">Titre</span> 
          <input type="text"  class="form-control" ng-value="titre" ng-model="experience.titre"> 
     </div>    
     <div class=" spacer" > 
          <span class="input-group-addon form-control input-group-addon-exception" >Framework </span>
          <br />
          <div  ng-repeat="(key,framework) in frameworks" ng-init="framework.selected = (checkbox_selection.indexOf(framework.id) > -1)" style="display:inline-block;">
          
          <span style="width:25%" class="input-group-addon form-control input-group-addon-exception" >
               
             <input 
              type="checkbox" 
             
              value={{framework.id}}  ng-model="framework.selected" ng-click="ngclick(framework.id)" 
            >    
          </span>
                    <label class="form-control" >{{framework.nom}}</label>

          </div>
     </div> 
     <input type="submit" class="btn btn-success pull-right" >
</form>