
<form  name="inscriptionForm" id="inscriptionForm" method="POST" class="spacer"  ng-submit="submit(inscriptionForm)" ng-validate="validationInscription" action="armand-arthur.com:8085/preindexapi/inscription_crud"> 
     <div class="spacer" > 
          <input type="email"  class="form-control" ng-model="email"  name="email" placeholder="email"> 
     </div>
     <div class="spacer" > 
          <input type="password"  class="form-control" ng-model="password" name="password" placeholder="Mot de passe"> 
     </div>
      <div class="spacer" > 
		<!--<div class="g-recaptcha" data-sitekey="6LfsiHUUAAAAAPTCOq5flCFQeUicw5akOPxy_D33" ng-model="recaptcha" vc-recaptcha key="'6LfsiHUUAAAAAPTCOq5flCFQeUicw5akOPxy_D33'" ></div>-->
		<div class="g-recaptcha" data-sitekey="6LfsiHUUAAAAAPTCOq5flCFQeUicw5akOPxy_D33" ></div>
     </div>      
     <div class=" spacer oveflow" > 
          <input type="submit" class="btn btn-success pull-right" value="Inscription">
     </div>
     
</form>