
<form  name="loginForm" id="loginForm" method="POST" class="spacer"  ng-submit="submit(loginForm)" ng-validate="validationLogin" > 
     <div class="spacer" > 
          <input type="email"  disabled class="form-control" ng-model="email"  name="email" placeholder="email"> 
     </div>
     <div class="spacer" > 
          <input type="password"  disabled   class="form-control" ng-model="password" name="password" placeholder="Mot de passe"> 
     </div>     
     <div class="spacer oveflow" > 
         -<input type="submit" class="btn btn-info pull-right" value="Connexion">
     </div>
     
</form>
